doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Company Introduction
  body
    // Menu
    nav
      ul
        li
          a(href='#home') Home
        li
          a(href='#about') About Us
        li
          a(href='#services') Services
        li
          a(href='#contact') Contact
        
    
