include site_header 
section.bg-img.cover-background.full-screen.top-position1.p-0.banner2(data-overlay-dark='5', data-background='/project/site/img/banner/bg-5.jpg')
      .container.d-flex.flex-column
        .mt-6
          .row.align-items-center.min-vh-100
            .col-lg-6
              span.d-block.text-primary.display-22.display-md-21.display-lg-20.alt-font.text-animations.mb-3(data-in-effect='fadeInRight') AstroOracle
              h1.text-white.display-3.mb-4 Start Control Of Your Professional Destiny
              a.butn-style2(href='/aboutus') Learn More
            .col-lg-6.d-none.d-lg-block
              .banner-right-img
                img(src='/project/site/img/banner/banner-img-1.png', alt='...')
section.pt-0.overflow-visible.bg-transparent
      .container-fluid.px-md-5.px-xxl-20
        .choose-your-sign-one.bg-primary.p-1-9.p-sm-5.rounded.shadow
          .zodiacsign-carousel2.owl-carousel.owl-theme.owl-loaded.owl-drag
            .zodiacsign-wrapper
              .text-center
                .mb-3
                  img(src='/project/site/img/content/zodiac-sign-icon-13.png', alt='...')
                h3.mb-0.text-white.h5 Aries
                span.display-31.text-white.font-weight-700 Mar 21 - Apr 19
            .zodiacsign-wrapper
              .text-center
                .mb-3
                  img(src='/project/site/img/content/zodiac-sign-icon-14.png', alt='...')
                h3.mb-0.text-white.h5 Taurus
                span.display-31.text-white.font-weight-700 Mar 21 - Apr 19
            .zodiacsign-wrapper
              .text-center
                .mb-3
                  img(src='/project/site/img/content/zodiac-sign-icon-15.png', alt='...')
                h3.mb-0.text-white.h5 Gemini
                span.display-31.text-white.font-weight-700 Mar 21 - Apr 19
            .zodiacsign-wrapper
              .text-center
                .mb-3
                  img(src='/project/site/img/content/zodiac-sign-icon-16.png', alt='...')
                h3.mb-0.text-white.h5 Cancer
                span.display-31.text-white.font-weight-700 Mar 21 - Apr 19
            .zodiacsign-wrapper
              .text-center
                .mb-3
                  img(src='/project/site/img/content/zodiac-sign-icon-17.png', alt='...')
                h3.mb-0.text-white.h5 Leo
                span.display-31.text-white.font-weight-700 Mar 21 - Apr 19
            .zodiacsign-wrapper
              .text-center
                .mb-3
                  img(src='/project/site/img/content/zodiac-sign-icon-18.png', alt='...')
                h3.mb-0.text-white.h5 Virgo
                span.display-31.text-white.font-weight-700 Mar 21 - Apr 19
            .zodiacsign-wrapper
              .text-center
                .mb-3
                  img(src='/project/site/img/content/zodiac-sign-icon-19.png', alt='...')
                h3.mb-0.text-white.h5 Libra
                span.display-31.text-white.font-weight-700 Mar 21 - Apr 19
            .zodiacsign-wrapper
              .text-center
                .mb-3
                  img(src='/project/site/img/content/zodiac-sign-icon-20.png', alt='...')
                h3.mb-0.text-white.h5 Scorpio
                span.display-31.text-white.font-weight-700 Mar 21 - Apr 19
            .zodiacsign-wrapper
              .text-center
                .mb-3
                  img(src='/project/site/img/content/zodiac-sign-icon-21.png', alt='...')
                h3.mb-0.text-white.h5 Sagittarius
                span.display-31.text-white.font-weight-700 Mar 21 - Apr 19
            .zodiacsign-wrapper
              .text-center
                .mb-3
                  img(src='/project/site/img/content/zodiac-sign-icon-22.png', alt='...')
                h3.mb-0.text-white.h5 Capricorn
                span.display-31.text-white.font-weight-700 Mar 21 - Apr 19
            .zodiacsign-wrapper
              .text-center
                .mb-3
                  img(src='/project/site/img/content/zodiac-sign-icon-23.png', alt='...')
                h3.mb-0.text-white.h5 Aquarius
                span.display-31.text-white.font-weight-700 Mar 21 - Apr 19
            .zodiacsign-wrapper
              .text-center
                .mb-3
                  img(src='/project/site/img/content/zodiac-sign-icon-24.png', alt='...')
                h3.mb-0.text-white.h5 Pisces
                span.display-31.text-white.font-weight-700 Mar 21 - Apr 19
.container.mb-5
      .row
        .col-12
          h3 Welcome to AstroOracle
        .col-12
          p
            | Welcome to Astro Oracle. Astro Oracle is one of the world&rsquo;s top astrologers based in Bhavnagar,
            | Gujarat. His expertise is widely recognized, and his work has been featured on several prominent
            | channels across India, such as Zee News, where he provides daily, monthly, and weekly
            | horoscopes.
          p
            | With over 20 years of experience, Astro Oracle has helped countless individuals achieve success,
            | prosperity, good health, and stability in their lives. Many top Indian celebrities regularly
            | consult him, and his precise astrological predictions have exceeded their expectations, helping
            | them succeed. Astro Oracle&apos;s clients include well-known personalities from business, sports, and
            | entertainment.
          p
            | He is renowned for his accurate palm and face reading skills, which have guided many to new
            | paths and helped improve their current circumstances, leading to overall success. As a
            | world-famous astrologer, Astro Oracle has made a profound difference in the lives of many people
            | by leading them towards a brighter future.
          p
            | Astro Oracle is also a respected Vastu consultant, matchmaking expert (kundli), motivational
            | speaker, life coach, and anchor. His guidance has transformed lives across the globe. Many
            | famous individuals, including actors, singers, and sports personalities, continue to seek his
            | counsel regularly.His services include horoscope readings, face analysis, and palm readings, available both online and in-person at his Bhavnagar office.
        .col-12
          h3 How Astrology Can Help You Succeed
          p
            | Astrology is often viewed as mystical, but it is rooted in the science of stars and planets. So,
            | how can astrology help you succeed?
          p
            | The first key to success is self-awareness. Astrology helps you understand your traits,
            | strengths, and weaknesses, providing practical insights into personal growth and
            | problem-solving. Two important astrological concepts with practical applications are the Void of
            | Course Moon and Mercury Retrograde.
          p
            | The Void of Course Moon may last for a short time, but its effects are significant. Have you ever
            | experienced days where nothing seems to go your way? That&rsquo;s the Void of Course Moon at work.
            | With a skilled astrologer, you can identify when these periods occur and prepare accordingly.
            | Similarly, Mercury Retrograde impacts communication and thought processes. Knowing when it will
            | occur allows you to plan and manage your emotions and actions.
          p
            | Astrology also provides a glimpse into your future. Imagine getting a tip about an upcoming event
            | at work. You&rsquo;d be prepared for it, right? An astrologer offers similar insights into your life,
            | helping you take control of your future.
          p
            | Being prepared for what&rsquo;s ahead and knowing how to handle it ethically are key to success in all
            | areas of life&mdash;career, relationships, and more.
          p
            | A good astrologer like Astro Oracle will guide you toward the right path, helping you understand
            | what&rsquo;s best for you, what to avoid, and how to navigate life effectively. This will ultimately
            | lead you to a successful and fulfilling life.
          p
            | If you&rsquo;re seeking success, the first step is consulting an astrologer who can help you understand
            | yourself, calculate important astrological occurrences like the Void of Course Moon and Mercury
            | Retrograde, and give you accurate insights into your future. This comprehensive approach will
            | set you on the path to success.
section.bg-secondary.pt-20
      .container
        .row.mt-n5
          .col-sm-6.col-xl-3.mt-5
            .count-box.text-center
              .position-relative.mb-1-9
                img(src='/project/site/img/content/counter-bg.png', alt='...')
                .count-no
                  h3.text-primary.mb-0
                    span.countup 20
                    | +
              h6.text-white.h5.mb-0 Year of experience
          .col-sm-6.col-xl-3.mt-5
            .count-box.text-center
              .position-relative.mb-1-9
                img(src='/project/site/img/content/counter-bg.png', alt='...')
                .count-no
                  h3.text-primary.mb-0
                    span.countup 600
                    | +
              h6.text-white.h5.mb-0 Success Horoscope
          .col-sm-6.col-xl-3.mt-5
            .count-box.text-center
              .position-relative.mb-1-9
                img(src='/project/site/img/content/counter-bg.png', alt='...')
                .count-no
                  h3.text-primary.mb-0
                    span.countup 20
                    | +
              h6.text-white.h5.mb-0 Type Of Horoscopes
          .col-sm-6.col-xl-3.mt-5
            .count-box.text-center
              .position-relative.mb-1-9
                img(src='/project/site/img/content/counter-bg.png', alt='...')
                .count-no
                  h3.text-primary.mb-0
                    span.countup 14
                    | k
              h6.text-white.h5.mb-0 Happy Clients
section.services-one.pt-4
      .container
        .title-two.mb-1-9.mb-md-5.text-center
          h3.text-primary What We Do
          h2.text-secondary.mb-0 Our Best Services
      .container-fluid
        .row.mt-n1-9
          .col-sm-6.col-xxl-3.mt-1-9
            .service-box.position-relative
              img.rounded(src='/project/site/img/Horoscope-Reading.jpg', alt='...')
              .service-content.rounded
                .d-flex.justify-content-between.mb-3
                  h3.h5.mb-0
                    a(href='/services') Horoscope Reading
                  a(href='vastu-shastra-service.html')
                    i.ti-arrow-right.font-weight-600
                p.mb-0
                  | We provide 100% accurate horoscope reading service.
          .col-sm-6.col-xxl-3.mt-1-9
            .service-box.position-relative
              img.rounded(src='/project/site/img/Plam-Reading.webp', alt='...')
              .service-content.rounded
                .d-flex.justify-content-between.mb-3
                  h3.h5.mb-0
                    a(href='services.html') Palm Reading
                  a(href='services.html')
                    i.ti-arrow-right.text-primary.font-weight-600
                p.mb-0
                  | We are best in 100% accurate palm reading.
          .col-sm-6.col-xxl-3.mt-1-9
            .service-box.position-relative
              img.rounded(src='/project/site/img/tarrot_reading.jpg', alt='...')
              .service-content.rounded
                .d-flex.justify-content-between.mb-3
                  h3.h5.mb-0
                    a(href='/services')  Tarot Reading
                  a(href='/services')
                    i.ti-arrow-right.text-primary.font-weight-600
                p.mb-0
                  | We are expert in tarrot reading service.
          .col-sm-6.col-xxl-3.mt-1-9
            .service-box.position-relative
              img.rounded(src='/project/site/img/Kundli-Matching.png', alt='...')
              .service-content.rounded
                .d-flex.justify-content-between.mb-3
                  h3.h5.mb-0
                    a(href='/services') Kundli Matching
                  a(href='/services')
                    i.ti-arrow-right.text-primary.font-weight-600
                p.mb-0
                  | We Provide Accurate Kundli Matching Service.
section.pt-0
      .container
        .title-two.mb-1-9.mb-md-5.text-center
          h6.text-primary Blog
          h2.text-secondary.mb-0 Our Updated Articles
        .row.mt-n5
          .col-md-6.col-xl-4.mt-5
            article.card.border-0.shadow.h-100
              img.rounded-top(src='/project/site/img/blog/blog-03.jpg', alt='...')
              .card-body.p-1-9
                ul.list-unstyled.ps-0
                  li.d-inline-block.text-primary.display-30.pe-3.font-weight-700
                    i.ti-calendar.pe-2
                    | 30 Jan, 2023
                  li.d-inline-block.text-primary.display-30.font-weight-700
                    i.ti-user.pe-2
                    | Aziza Medhanie
                h3.h5.mb-4
                  a(href='#') The Miracle Of Astrology.
                a(href='#') Read More
          .col-md-6.col-xl-4.mt-5
            article.card.border-0.shadow.h-100
              img.rounded-top(src='/project/site/img/blog/blog-04.jpg', alt='...')
              .card-body.p-1-9
                ul.list-unstyled.ps-0
                  li.d-inline-block.text-primary.display-30.pe-3.font-weight-700
                    i.ti-calendar.pe-2
                    | 27 Jan, 2023
                  li.d-inline-block.text-primary.display-30.font-weight-700
                    i.ti-user.pe-2
                    | Asta M. Skov
                h3.h5.mb-4
                  a(href='#') Five Quick Tips Regarding Astrology.
                a(href='#') Read More
          .col-md-6.col-xl-4.mt-5
            article.card.border-0.shadow.h-100
              img.rounded-top(src='/project/site/img/blog/blog-05.jpg', alt='...')
              .card-body.p-1-9
                ul.list-unstyled.ps-0
                  li.d-inline-block.text-primary.display-30.pe-3.font-weight-700
                    i.ti-calendar.pe-2
                    | 23 Jan, 2023
                  li.d-inline-block.text-primary.display-30.font-weight-700
                    i.ti-user.pe-2
                    | Zac Young
                h3.h5.mb-4
                  a(href='#') Five Reasons Why You Cannot Learn Astrology Well.
                a(href='#') Read More
include site_footer 