doctype html 
html 
    head 
        title
    body 
        h1 working with loop 
        table(border='1',align='center',width='50%')
            each country,index in countries 
                tr  
                    td=(index+1)
                    td=country