include site_header
section.page-title-section.bg-img.cover-background.top-position1.secondary-overlay(data-overlay-dark='7', data-background='/project/site/img/banner/page-title-01.jpg')
    .container
        .row.text-center
         .col-md-12
             h1.text-animation(data-in-effect='fadeInRight') Our Services
             ul.position-relative
                li
                    a(href='/') Home
                li
                    a(href='#!') Services
    // Page Heading
.container.my-5
      .row
        .col-12
           each row in table
              .card.mb-3.shadow(data-aos='fade-right')
                .row.g-0
                  .col-md-4
                    img.img-fluid.rounded-start(src=`/project/site/img/${row['photo']}`, alt='')
                  .col-md-8
                    .card-body
                      h5.card-title #{row['name']}
                      p.card-text #{row['long_description']}
                    | 
include site_footer