footer.bg-img.cover-background(data-overlay-dark='5', data-background='/project/site/img/bg/bg-04.jpg')
  .container
    .mb-7
      .row.mt-n5
        .col-md-6.col-xl-3.mt-5
          div
            a.footer-logo(href='index.html')
              img.mb-1-9(src='/project/site/img/logos/logo-footer.png', alt='...')
            ul.list-unstyled.mb-1-9.ps-0
              li.mb-3
                a.text-white.d-flex.align-items-baseline(href='#!')
                  i.fas.fa-map-marker-alt.pe-1-9
                  | 105, Eva surbhi, Opp aksharwadi, waghawadi road
              li.mb-3
                a.text-white.d-flex.align-items-baseline(href='#!')
                  i.far.fa-envelope.pe-4
                  | info@astrooracle.com
              li
                a.text-white.d-flex.align-items-baseline(href='#!')
                  i.fas.fa-phone-alt.pe-4
                  | (+91) 123 456 789
            ul.list-style3.list-unstyled.mb-0.ps-0
              li.d-inline-block.pe-1
                a(href='#!')
                  i.fab.fa-facebook-f
              li.d-inline-block.px-1
                a(href='#!')
                  i.fab.fa-twitter
              li.d-inline-block.px-1
                a(href='#!')
                  i.fab.fa-youtube
              li.d-inline-block.px-1
                a(href='#!')
                  i.fab.fa-linkedin-in
        .col-md-6.col-xl-3.mt-5
          .px-md-5.px-xl-8
            .mb-4
              h3.text-primary.h4 Useful Links
            ul.list-style2.list-unstyled.mb-0.ps-0
              li.mb-3
                a(href='index.html') Home
              li.mb-3
                a(href='about-us.html') About Us
              li.mb-3
                a(href='services.html') Services
              li
                a(href='contact.html') Contact Us
        .col-md-6.col-xl-2.mt-5
          div
            .mb-4
              h3.text-primary.h4 Our Services
            ul.list-style2.list-unstyled.mb-0.ps-0
              li.mb-3
                a(href='#') Horoscope Reading
              li.mb-3
                a(href='#') Palm Reading
              li.mb-3
                a(href='#') Tarot Reading
              li.mb-3
                a(href='#') Kundli Matching
  .footer-bar.mt-0.p-0
    .container
      .border-top.border-color-light-white.py-1-9
        .row
          .col-12
            .text-center
              p.d-inline-block.text-white.mb-0
                | &copy; 
                span.current-year
                |  AstroOracle Powered
                a.text-primary.ps-2(href='#!') frontend40@ the easylearn academy
// start scroll to top
a.scroll-to-top(href='#!')
i.fas.fa-angle-up(aria-hidden='true')
// end scroll to top
// all js include start
// jQuery
script(src='/project/site/js/jquery.min.js')
// popper js
script(src='/project/site/js/popper.min.js')
// bootstrap
script(src='/project/site/js/bootstrap.min.js')
// core.min.js
script(src='/project/site/js/core.min.js')
// search
script(src='/project/site/search/search.js')
// custom scripts
script(src='/project/site/js/main.js')
// form plugins js
script(src='/project/site/quform/js/plugins.js')
// form scripts js
script(src='/project/site/quform/js/scripts.js')
// all js include end