doctype html 
// html page in pug
html 
    head 
        title = "third example in pug"
    body 
        h1 third example in pug 
        div. 
            first line <br/>
            second line <br/>
            third line <br/>
        p. 
            first line <br/>
            second line <br/>
            third line 

                