doctype html 
html 
    head 
        title = "second example in pug"
    body 
        h1 second example in pug 
        p
            | first line in paragraph 
            | second line in paragraph 
            table(width='50%',align='center',border='2',cellpadding='10') 
                tr 
                    td(bgcolor='cyan',width='50%') Ankit Patel 
                    td(bgcolor='cyan',width='30%') ankit@gmail.com
                    td(bgcolor='cyan',width='20%') 9662512857
                tr 
                    td kartik 
                    td kartik@gmail.com 
                    td 8690099800
                