//- include file has common code 
include common_header
// Company Introduction
section#about
    h1 Welcome to Our Company
    p
    | Our vision is to become world largest company in providing solutions
    | we are currently providing service in asia but we will also provide services in other 
    | continents. we provide best satisfaction to our clients.  
include common_footer